{% extends 'layouts/default.html.twig' %}

{% block main %}
    <h3>{{ title }}</h3>
    <p>Ваш IP: {{ ip }}</p>
    <p>Ваш город: {{ city }}</p>
    <p>Ваша страна: {{ country }}</p>
    <p>Ваша регион: {{ region }}</p>
{% endblock %}